* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica";
	font-size: 16px;
}

h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 175%;
}

.row {
	width: 100%;
}
.row > div {
	float:  left;
	padding: 15px;
}

.card {
	position: relative;
	background-color: #999999;
	padding: 35px 15px 0;
	min-height: 150px;
	min-width: 140px;
}
.title {
	position: absolute;
	right: 0;
	top: 0;
	width: 140px;
	height: 30px;
	font-weight: bold;
	font-size: 125%;
	line-height: 30px;
	text-align: center;
}
	#title-1 {
		background-color: purple;
		color: #fff;
	}
	#title-2 {
		background-color: darkblue;
		color: #fff;
	}
	#title-3 {
		background-color: thistle;
	}
.card, .title {
	border: 1px solid black;
}

/*desktop*/
@media (min-width:  992px) {
	.col-lg-1 {
		width: 8.33%
	}
	.col-lg-2 {
		width: 16.66%
	}
	.col-lg-3 {
		width: 25%
	}
	.col-lg-4 {
		width: 33.33%
	}
	.col-lg-5 {
		width: 41,66%
	}
	.col-lg-6 {
		width: 50%
	}
	.col-lg-7 {
		width: 58.33%
	}
	.col-lg-8 {
		width: 66.66%
	}
	.col-lg-9 {
		width: 75%
	}
	.col-lg-10 {
		width: 83.33%
	}
	.col-lg-11 {
		width: 91.66%
	}
	.col-lg-12 {
		width: 100%
	}
}


/*tablet*/
@media (min-width:  768px) and (max-width:  991px) {
	.col-md-1 {
		width: 8.33%
	}
	.col-md-2 {
		width: 16.66%
	}
	.col-md-3 {
		width: 25%
	}
	.col-md-4 {
		width: 33.33%
	}
	.col-md-5 {
		width: 41,66%
	}
	.col-md-6 {
		width: 50%
	}
	.col-md-7 {
		width: 58.33%
	}
	.col-md-8 {
		width: 66.66%
	}
	.col-md-9 {
		width: 75%
	}
	.col-md-10 {
		width: 83.33%
	}
	.col-md-11 {
		width: 91.66%
	}
	.col-md-12 {
		width: 100%
	}
}


/*mobile*/
@media (max-width:  767px) {
	.row > div {
		padding:  15px 35px;
	}
}